language: java

# This fixes unavailability of Oracle JDK-7
# Refer https://github.com/travis-ci/travis-ci/issues/7884#issuecomment-308451879
dist: precise

sudo: false

jdk:
  - openjdk7
  - oraclejdk7
  - oraclejdk8

after_success:
  - mvn clean cobertura:cobertura coveralls:report
